단위
px, em, rem, vw, wh, %

vw = view width  
핸드폰의 가로사이즈 = 360px 
폰트 1vw = 3.6px



/*
text-overflow:; - 말줄임 / ellipsis
>> 가로넓이, 줄바꿈 방지, 영역 밖 숨김

width:50vw;   text-overflow:ellipsis; overflow:hidden;
*/

/*
---테두리---
  border: 선의굵기 색상 종류;
  border-top:;
  border-left:;
  border-right:;
  border-bottom:;


  -선의 굵기 / border-width:;
  -선의 색상 / border-color:;
  -선의 종류 / border-style:;


  border-top-width:;  / 숫자 + 단위
  border-left-color:; / 색상코드
  border-style:; /
  >> solid(실선), dotted(점선) , dashed(긴 점선)

  border: 2px dotted red;

*/
/*
---넓이, 높이---
width:; - 넓이/ 숫자+단위
height:; -높이 / 숫자+단위 / %를 사용할 경우 부모가 절대값을 가지고 있거나 최상위의 html 태그에 높이값이 지정되어 있어야 함.

max-width:;, max-height - 최대 넓이(최대 넓이 이상 커지지 않음)
min-width:;, min-height - 최소 넓이(최소 넓이 이하 작아지지 않음)

부모의 높이값이 없으면 % 사용 안함.

width:calc(100%-12px);
width:cals(50%-12px); - calc();  연산자(연산 부호 앞뒤로 띄어쓰기 필수, 단위도 필수)
*/

/*
---간격---
 padding:; - 숫자 + 단위 / 4군데

padding:10px; - 4군데
padding: 10px 20px; - 상, 하 / 좌, 우
padding: 10px 20px 30px; - 상/ 좌, 우/ 하
padding: 10px 20px 30px 40px; - 상 /우/ 하 / 좌



 padding-left:;
 padding-right:;
 padding-top:;
 padding-bottom:;

 margin:; - padding과 동일.

 padding은 border 기준으로 안쪽 간격
 margin은 border 기준으로 바깥 간격.

 <div></div> - margin-bottom:20px;
 <div></div> - margin-top:50px;
 div 사이의 간격은?? - 상하 마진이 만나면 큰값으로 합쳐짐.

*/